body {
    margin: 0;
    
    font-family: 'Neuton', serif;
    font-weight: bold;
}

h2 {
    text-align: center;
    margin-bottom: 50px;
}

.top-container{
    text-align: center;
    background-color: #fff;
    padding: 50px;
    position: relative;
    line-height: .5;
    margin-bottom: 30px;
}



#tom {
    width: 10%;
    position: absolute;
    left: 20px;
    bottom: 10px;
}

#jerry {
    width: 10%;
    position: absolute;
    right:20px;
    top: 60px;
}



 .navbar-light{
    background-color: #ffcccc;
}

#certifications {
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: #ffcccc ;
    
}



.w-100{
    width: 80% !important;
    padding-left: 20%;
}



#Masterpiece {
    
    padding-bottom: 60px;
}

#Masterpiece{
    height:400px;
    position: relative;
}

#Masterpiece .col-sm-6 {
    position: absolute;
    left: 25%;
}

#Masterpiece .card {
    text-align: center;
}

#skills {
    height: auto;
    padding: 5% 5%;
    text-align: center;
    background-color: #ffcccc;

    
}

.fa-star{
    color: #FC427B;
}

.fa-star-half-alt{
    color: #FC427B;
}

.bttn {
    background-color: #ffcccc;
    
}

.bttn:hover {
    background-color: #FC427B;
}


#Passion ul{
    display: flex;
    justify-content: space-around;
    list-style: none;
}

#contact {
    background-color: #ffcccc;
    height: 200px;
}

#contact .col-sm-6 {
    margin: 0 auto;
   display: flex;
   justify-content: space-around;
   font-size: 30px;
}

.copyright {
    text-align: center;
}