body {
    margin: 0;
    
    font-family: 'Neuton', serif;
    font-weight: bold;
}
h1{
    text-align: center;
    margin-top: 2.5rem;
}

h2 {
    text-align: center;
    margin-bottom: 50px;
}

.top-container{
    text-align: center;
    background: #2980B9;  /* fallback for old browsers */
background: -webkit-linear-gradient(to left, #FFFFFF, #6DD5FA, #2980B9);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to left, #FFFFFF, #6DD5FA, #2980B9); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    padding: 50px;
    position: relative;
    line-height: .5;
    
}



#tom {
    width: 10%;
    position: absolute;
    left: 20px;
    bottom: 10px;
}

#jerry {
    width: 10%;
    position: absolute;
    right:20px;
    top: 60px;
}



 .navbar-light{
    background: #2980B9;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #FFFFFF, #6DD5FA, #2980B9);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #FFFFFF, #6DD5FA, #2980B9); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

#certifications {
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: #ffcccc ;
    
}



.w-100{
    width: 80% !important;
    padding-left: 20%;
}



#Masterpiece {
    
    padding-bottom: 60px;
}

#Masterpiece{
    height:400px;
    position: relative;
}

#Masterpiece .col-sm-6 {
    position: absolute;
    left: 25%;
}

#Masterpiece .card {
    text-align: center;
}

#skills {
    
    height: auto;
    padding: 5% 5%;
    text-align: center;
    background: #2980B9;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #FFFFFF, #6DD5FA, #2980B9);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #FFFFFF, #6DD5FA, #2980B9); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    
}

.card {
    background: #2980B9;  /* fallback for old browsers */
background: -webkit-linear-gradient(to left, #FFFFFF, #6DD5FA, #2980B9);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to left, #FFFFFF, #6DD5FA, #2980B9); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
margin-bottom: 5px;
border-style: none;
}

.bttn {
    background-color: #FFFFFF;
    
}

.bttn:hover {
    background-color: rgba(255, 255, 255, 0.7);
}


#Passion ul{
    display: flex;
    justify-content: space-around;
    list-style: none;
}

#contact {
    background-color: #ffcccc;
    height: 200px;
}

#contact .col-sm-6 {
    margin: 0 auto;
   display: flex;
   justify-content: space-around;
   font-size: 30px;
}

.copyright {
    text-align: center;
}



.popup {
        height: 100vh;
        width: 100%;
        position: fixed;
        top: 0;
        left: 0;
        background-color: rgba(0, 0, 0, 0.8);
        z-index: 9999;
        opacity: 0;
        visibility: hidden;
        transition: all 0.3s;
        -webkit-backdrop-filter: blur(10px);
        backdrop-filter: blur(10px);
        background-color: rgba(0, 0, 0, 0.3);
  
        @supports (-webkit-backdrop-filter: blur(10px)) or
        (backdrop-filter: blur(10px)) {
        -webkit-backdrop-filter: blur(10px);
        backdrop-filter: blur(10px);
        background-color: rgba(0, 0, 0, 0.3);
        }

    }
  
    .popup__content {
        margin-top: 8%;
        margin-left: 15%;
        width: 75%;
        background-color: #fff;
        box-shadow: 1 2rem 4rem rgba(0, 0, 0, 0.2);
        border-radius: 3px;
        display: table;
        overflow: hidden;
        opacity: 0;
        transform: translate(-50%, -50%) scale(0.5);
        transition: all 0.4s 0.2s;
    }
    
      .popup__text {
        font-size: 1rem;
        margin: 2rem 4rem;
      }

      /*     
      //open States */
      .popup:target {
        opacity: 1;
        visibility: visible;
      }
    
      .popup:target .popup__content {
        opacity: 1;
        transform: translate(-5%, -5%) scale(1);
      }
    

     
  .popup__close {
    
      color: #000;
      position: absolute;
      top: 2.5rem;
      right: 2.5rem;
      font-size: 1rem;
      text-decoration: none;
      display: inline-block;
      transition: all 0.2s;
      line-height: 1;
  }

    .popup__close:hover {
      opacity: .8;
    
  }
    

    
      
    
    

      
      